body{background-color:#f3f6fe;}
a{color:black;text-decoration:none;}
a:hover{text-decoration:underline;}
button:hover{background-color:white;}
.menu{display:flex;}
.navbar{width:100%;
text-align:right;}
li{display:inline;
margin:10px;
font-size:30px;
font-family:sans-serif;}
h1{font-size:80px;
color:white;}
button{width:200px;
height:70px;
font-size:20px;font-style:italic;font-family:fantasy;letter-spacing:0.1em;
background-color:silver;
border:5px solid black; 
border-radius:10px;
margin:10px;}
h2{font-size:50px;}
h6{font-size:30px; color:#262626;}
h4{color:white;}
#section{font-size:80px;color:blue;padding:50px;}
#main{display:flex;}
.main1,.main2{width:50%;padding:50px;}
.main1{font-size:50px}
#hero{display:flex;background-color:lightgrey;}
.hero1{width:50%}
.hero2{width:50%;font-size:50px;padding:50px;color:blue;}
#box{display:flex;}
.box1,.box2{width:50%;margin-top:50px;}
.box1{margin:50px;font-size:70px;color:blue;}
.box2{margin-top:50px;padding-left:20px;}
p{font-size:30px;color:black;}
.service3{margin:50px;}
#footer{background-color:#03134a;display:flex;
color:#fff;}
.foo,foo,foo{width:33.3%;padding:30px;font-size:20px;}
h5{font-size:40px;}




@media (max-width:900px){
.menu{display:flex;}
li{display:inline;}
.navbar{text-align:left;}
li{font-size:20px;}
h1{font-size:50px;}
button{width:30%;}
#section{font-size:50px;padding:10px;}
#main{display:inline;}
.main1,.main2{width:100%;padding:10px;}
#hero{display:inline;}
.hero1{width:100%;}
.hero2{padding:10px;width:100%;}
#box{display:inline;}
.box1,.box2{width:100%;}
.box1{margin:10px;}
#footer{display:inline;color:#262626;}